:root {
  font-family: system-ui;
  font-feature-settings: "ss06";
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 2rem;
}

code {
  font-family: "dm", monospace;
}

h1- {
  font-style: italic;
  font-size: 4rem;
}

::highlight(opening-tag) {
  color: RoyalBlue;
}

::highlight(arrow-tag) {
  color: DeepPink;
}

.footnotes {
  ol {
    padding-inline-start: 1.5rem;
  }

  li {
    transition: background-color 0.1s ease-in-out;

    &:target {
      background-color: hsl(45deg 100% 80%);
    }
  }
}

main- {
  max-inline-size: 40rem;
}

table :is(thead, tbody) th:first-of-type {
  text-align: start;
}
